.topsection {
    item-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d3d3d3;
}
.topsection h2 {
    text-align: center;
    width: 100%;
}

#root {
    padding-top: 30px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 40px;
}

body {
    background-color: #d3d3d3;
    color: #030303;
}

a {
    color: rgb(0,0,200);
    text-decoration: none;
}



@media only screen and (min-width: 680px) {
    #root {
        margin: 0 auto;
        width: 680px;
    }
    img {
        width: 600px;
    }
}

@media only screen and (max-width: 680px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    img {
        width: 480px;
    }
    .quattro > h2:first-child {
        font-size: 16px;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }

    img {
        width: 370px;
    }
    .quattro > h2:first-child {
        font-size: 20px;
        text-align: center;
    }
    .quattro {
        font: 18px/1.5 'League Spartan', sans-serif;
    }
}

@media only screen and (max-width: 320px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }

    img {
        width: 300px;
    }
    .quattro > h2:first-child {
        font-size: 20px;
        text-align: center;
    }
    .quattro {
        font: 18px/1.5 'League Spartan', sans-serif;
    }
}



@media only screen and (min-width: 680px) {
    #root {
        padding-top: 40px;
        width: 680px;
    }
    .topsection h2 {
        font-size: 150%;
    }
}

@media only screen and (max-width: 480px) {
}

.quattro {
    font: 12pt/1.6 "Poppins", sans-serif;
}

.regular {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.footer-div {
    font-size: 75%;
    border-top: 1px solid #030303;
    padding-top: 4px;
}
.footer-div span {
    padding-top: 4px !important;
    float: right;
}


h2 {
    border-bottom: 1px solid black;
    font: 14pt/1.2 "Poppins", sans-serif;
    font-weight: 700;
}

h1 {
    border-bottom: 1px solid #fefefe;
}

code {
    background-color: #eee;
    padding: 3px;
    width: 100%;
    display: inline-block;
}

blockquote {
    font-style: italic;
}
